div {
    border: 3px solid black;
    position: absolute;
}

#first {
    width: 200px;
    height: 200px;

}

#second {
    width: 150px;
    height: 150px;
    top: 150px;
    left: 120px;
    z-index: 1;
    background: #fff;
}

#third {
    top:303px;
    width: 500px;
    height: 150px;
}

#fourth {
    width: 75px;
    height: 500px;
    left: 350px;
    background: #fff;
    z-index: 1;
}