body {
    text-align: center;
    background-color: azure;
    font-family: 'Roboto', sans-serif;
}

#my-img {
    margin-bottom: 20px;
}


.card {
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 5px;
    margin-right: 320px;
    margin-left: 320px;
    box-shadow: 5px 5px 5px grey;
}

p {
    margin: 0;
}

span {
    font-size:18px;
    font-style: oblique;
}

#main-second-header, #main-header {
    color: CadetBlue;
}

#buttons {
    margin: 2%;
}