* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    background: gray;
    color: white;
    width: 250px;
    height: 150px;
    display: inline-block;
    margin: 20px;
}

@media (max-width: 500px) {
    div {
        display: block;
    }
}